
Homeworks/Homeworks/obj/project.nuget.cache
Homeworks/Homeworks/obj/Homeworks.csproj.nuget.g.targets
*.json
Homeworks/Homeworks/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
Homeworks/Homeworks/Homeworks.csproj
Homeworks/Homeworks.sln
.vs/slnx.sqlite
.vs/Algoritms_homework/v16/.suo
Homeworks/.vs/Homeworks/v16/.suo
Homeworks/Homeworks/obj/Debug/net5.0/Homeworks.AssemblyInfo.cs
Homeworks/Homeworks/obj/Debug/net5.0/Homeworks.AssemblyInfoInputs.cache
Homeworks/Homeworks/obj/Debug/net5.0/Homeworks.assets.cache
Homeworks/Homeworks/obj/Debug/net5.0/Homeworks.GeneratedMSBuildEditorConfig.editorconfig
Homeworks/Homeworks/obj/Homeworks.csproj.nuget.g.props
*.dll
*.cache
*.txt
Homeworks/Homeworks/bin/Debug/net5.0/Homeworks.exe
Homeworks/Homeworks/bin/Debug/net5.0/Homeworks.pdb
Homeworks/Homeworks/obj/Debug/net5.0/apphost.exe
Homeworks/Homeworks/obj/Debug/net5.0/Homeworks.pdb
Homeworks/Algorims lesson 04/BinaryTree.cs
Homeworks/Algorims lesson 04/obj/Algorims lesson 04.csproj.nuget.g.props
Homeworks/Algorims lesson 04/obj/Algorims lesson 04.csproj.nuget.g.targets
